/*---------------------------------------------------------------------------------------------------------------
---------------------------------------------- HERO -------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/




.title-content{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.hero-title{
    color: var(--neutro-100, #FFF);

/* H1 XL */
font-family: Bebas Neue;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: 80px; /* 75% */
margin: 0;

}

h3{
    color: #FFF;

/* H3 */
font-family: 'Inter', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 120% */
text-transform: uppercase;
}

.hero-button{
    display: flex;
width: 280px;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
background-color: #187BD3;
}
.hero-button:hover{
    background: var(--primary-900, #1363A9);
    cursor: pointer;
}
.hero-button::selection{
    border: 2px solid var(--neutro-900, #101010);
    background: var(--primary-500, #187BD3);
}
.hero-button:disabled{
    background: var(--neutro-200, #F3F2F2);
}
.hero-button:disabled>p{
    color: var(--neutro-300, #D2D2D2);
font-family: Bebas Neue;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 118.75% */
letter-spacing: 0.96px;
}

.hero-button>p{
    color:#101010;
font-family: Bebas Neue;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 118.75% */
letter-spacing: 0.96px;
}





/* Media query para tamaños de pantalla de escritorio */
@media (min-width: 1024px) {
    /* Estilos específicos para escritorio */

 
    .hero-content{
        margin-left: 180px;
        margin-top: 80px;
      
        display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    }
    .hero-photo{
   
        background-image: url(/PhotoPortada.png);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
        /* Otros estilos de fondo como repetición, posición, etc. */
        width: 100%;
      min-height: 100vh;
      background-position: bottom right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
}

/* Media query para tabletas */
@media (min-width: 744px) and (max-width: 1024px) {
    /* Estilos específicos para tabletas */
 
    .hero-content{
        margin-left: 80px;
        margin-top: 80px;
      
        display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    }
    .hero-photo{
   
        background-image: url(/PhotoPortada.png);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
        /* Otros estilos de fondo como repetición, posición, etc. */
        width: 100%;
      min-height: 100vh;
      background-position: bottom right;
      display: flex;
      flex-direction: column;
     justify-content: center;
      
      
    }

    .hero-title{
        color: var(--neutro-100, #FFF);

/* H2 */
font-family: Bebas Neue;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: 80px; /* 120.833% */
align-self: stretch;
    
    }
    
.title-content{
  
gap: 8px;
}
}


/* Media query para dispositivos móviles */
@media (max-width: 744px) {
    .hero-content{
    width: calc(100% - 80px);
      
        display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    }

    .hero-photo{
   
        background-image: url(/PhotoPortada.png);
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
        /* Otros estilos de fondo como repetición, posición, etc. */
        width: calc(100% - 80px);
      min-height: 100vh;
      background-position:  85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 40px 0 40px;
     
      
    }

    .hero-title{
        color: var(--neutro-100, #FFF);

        /* H2 */
        font-family: Bebas Neue;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; /* 83.333% */
    
    }
    .title-content{
  
        gap: 4px;
        }


    h3{
       
        align-self: stretch; 
    /* H3 */
    color: var(--neutro-100, #FFF);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
    }
    /* Estilos adicionales para dispositivos móviles */




    
    
    .hero-button>p{
      
        color: var(--neutro-900, #101010);

        /* H4 */
        font-family: Bebas Neue;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 116.667% */
        letter-spacing: 0.72px;
        text-transform: uppercase;
    
    }

    .hero-content a{
      
      position: relative;
    }

    .hero-button{
    
width: 200px;

    }
}